@page "/libros"
@using Models
@using Services
@inject ILibroService LibroService

<div class="body">
    <br>
    <br>
    <br>

    <MudText Typo="Typo.h4" Class="Titulolibro">Colección de Libros</MudText>

    @if (libros == null)
    {
        <p>Cargando...</p>
    }
    else
    {

        <div class="row">
            @foreach (var item in libros)
            {
                <div class="col-md-4">
                    <a class="btn" href="@($"/libroDetalles/{item.Id}")">

                        <div class="card1">
                            <div class="card-content">

                                <div class="card-front contenedor">
                                    <img class="Ajustarimagen" src="@item.ImagenPortada" alt="@item.Nombre">
                                    <p class="sub-fechaLanzamiento">
                                        @item.FechaLanzamiento
                                    </p>
                                </div>

                                <div class="card-back contenedor">
                                    <img class="Ajustarimagen" src="@item.ImagenIntroduccion" alt="@item.Nombre">
                                    <div class="fondo row ">
                                        <div class="movie-description">
                                            <span class="AtributosLibro ">Descripción:  </span>@item.Descripcion
                                        </div>
                                        <div class="genre">
                                            <span class="AtributosLibro ">Nº Páginas:  </span>@item.Paginas
                                        </div>
                                        <div class="back-title">
                                            <span class="AtributosLibro ">Idioma:  </span>@item.Idioma
                                        </div>
                                        <div class="release-date">
                                            <span class="AtributosLibro ">Fecha de publicación:  </span>@item.FechaLanzamiento
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="title">
                            @item.Nombre
                        </h1>
                    </a>
                </div>
            }
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#a67c00" fill-opacity="1" d="M0,256L0,64L75.8,64L75.8,64L151.6,64L151.6,96L227.4,96L227.4,288L303.2,288L303.2,160L378.9,160L378.9,256L454.7,256L454.7,224L530.5,224L530.5,160L606.3,160L606.3,224L682.1,224L682.1,160L757.9,160L757.9,96L833.7,96L833.7,32L909.5,32L909.5,192L985.3,192L985.3,96L1061.1,96L1061.1,96L1136.8,96L1136.8,224L1212.6,224L1212.6,288L1288.4,288L1288.4,160L1364.2,160L1364.2,128L1440,128L1440,320L1364.2,320L1364.2,320L1288.4,320L1288.4,320L1212.6,320L1212.6,320L1136.8,320L1136.8,320L1061.1,320L1061.1,320L985.3,320L985.3,320L909.5,320L909.5,320L833.7,320L833.7,320L757.9,320L757.9,320L682.1,320L682.1,320L606.3,320L606.3,320L530.5,320L530.5,320L454.7,320L454.7,320L378.9,320L378.9,320L303.2,320L303.2,320L227.4,320L227.4,320L151.6,320L151.6,320L75.8,320L75.8,320L0,320L0,320Z"></path></svg>

    }


</div>

@code {
    IEnumerable<Libro> libros = new List<Libro>();

    protected override async Task OnInitializedAsync()
    {
        libros = await LibroService.GetAllRefs();
    }
}