@page "/libroDetalles/{id:int}"
@using Models
@using Services
@inject ILibroService LibroService

<br>
<br>
<br>
@if (libro == null)
{
    <p><em>Cargando...</em></p>
}
else
{
@*    <MudText Typo="Typo.h3">@libro.Nombre @libro.FechaLanzamiento</MudText>*@

    <div class="ContenedorDetallesLibro">
        <div class="ContenedorLibro">
            <div class="blog-slider__img">
                <img class="ImgDetalles" src="@libro.ImagenPortada" alt="@libro.Nombre">
            </div>
            <div class="">
                <div class="blog-slider__title">@libro.Nombre</div>
                <div class="blog-slider__text">  @libro.Descripcion2</div>
                <div class="blog-slider__text">Nº Páginas:    @libro.Paginas</div>
                <div class="blog-slider__text">Idioma:    @libro.Idioma</div>
                <span class="blog-slider__categoria">Autor:    @libro.IdAutor</span>
                <span class="blog-slider__categoria">Categoría:    @libro.IdCategoria</span>
                <span class="blog-slider__categoria">Editorial:    @libro.IdEditorial</span>
                <span class="blog-slider__año">Fecha de Lanzamiento:    @libro.FechaLanzamiento</span>
                <a href="@libro.LinkDescarga" class="btn Descargar" target="_blank"><i class="fa-solid fa-download fa-beat"></i>DESGARCAR</a>
            </div>
        </div>
    </div>
    <MudCard>
        <MudCardActions Class="center">
            <img src="@libro.ImagenPortada" alt="@libro.Nombre" Elevation="25" Class="rounded-lg" width="60%" height="auto" />
        </MudCardActions>

        <MudCardActions Class="center">
            <img src="@libro.ImagenIntroduccion" alt="@libro.Nombre" Elevation="25" Class="rounded-lg" width="60%" height="auto" />
        </MudCardActions>
    </MudCard>
}

@code {
    [Parameter]
    public int id { get; set; }

    Libro libro = new Libro();

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
            libro = await LibroService.GetById(id);
    }
}