@page "/libroDetalles/{id:int}"
@using Models
@using Services
@inject ILibroService LibroService

<br>
<br>
<br>
<br>

@if (libro == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    @*    <MudText Typo="Typo.h3">@libro.Nombre @libro.FechaLanzamiento</MudText>*@

    <div class="ContenedorDetallesLibro">
        <div class="ContenedorLibro">
            <div class="ContenedorImagenPortada">
                <img class="ImgDetalles" src="@libro.ImagenPortada" alt="@libro.Nombre">
            </div>
            <div class="ContenedorAtributos">
                <div class="Nombre">@libro.Nombre</div>
                <div class="Descripcion">  @libro.Descripcion2</div>
                <div class="Pagina">Nº Páginas: <span class="Sub-Detalles">@libro.Paginas</span></div>
                <div class="Idioma">Idioma: <span class="Sub-Detalles">@libro.Idioma</span></div>
                <div class="Autor">Autor: <span class="Sub-Detalles">@libro.autor.Seudonimo</span></div>
                <div class="Categoria">Categoría: <span class="Sub-Detalles">@libro.categoria.Nombre</span></div>
                <div class="Editorial">Editorial: <span class="Sub-Detalles">@libro.editorial.Nombre</span></div>
                <div class="FechaLibro">Fecha de Lanzamiento: <span class="Sub-Detalles">@libro.FechaLanzamiento</span></div>
                <a class="Descargar" href="@libro.LinkDescarga" target="_blank"><i class="fa-solid fa-download fa-beat"></i>DESGARCAR LIBRO</a>
            </div>
        </div>
    </div>

    <h1 class="Titulo-Imagenes">Portada e Introducción</h1>

    <span class="Linea"></span>
    <br>
    <div class="contenedor-imagenes">
        <img class="Image" src="@libro.ImagenPortada" alt="@libro.Nombre" />
        <img class="Image" src="@libro.ImagenIntroduccion" alt="@libro.Nombre" />
    </div>
}

@code {
    [Parameter]
    public int id { get; set; }

    Libro libro = new Libro();

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
            libro = await LibroService.GetById(id);
    }
}