@page "/libroDetalles/{id:int}"
@using Models
@using Services
@inject ILibroService LibroService

<br>
<br>
<br>
<br>

@if (libro == null)
{
    <p><em>Cargando...</em></p>
}
else
{
@*    <MudText Typo="Typo.h3">@libro.Nombre @libro.FechaLanzamiento</MudText>*@

    <div class="ContenedorDetallesLibro">
        <div class="ContenedorLibro">
            <div class="ContenedorImagenPortada">
                <img class="ImgDetalles" src="@libro.ImagenPortada" alt="@libro.Nombre">
            </div>
            <div class="ContenedorAtributos">
                <div class="Nombre">@libro.Nombre</div>
                <div class="Descripcion">  @libro.Descripcion2</div>
                <div class="Pagina">Nº Páginas:    @libro.Paginas</div>
                <div class="Idioma">Idioma:    @libro.Idioma</div>
                <span class="Autor">Autor:    @libro.autor.Seudonimo</span>
                <span class="Categoria">Categoría:    @libro.categoria.Nombre</span>
                <span class="Editorial">Editorial:    @libro.editorial.Nombre</span>
                <span class="FechaLanzamientoLibro">Fecha de Lanzamiento:    @libro.FechaLanzamiento</span>
                <a href="@libro.LinkDescarga" class="btn Descargar" target="_blank"><i class="fa-solid fa-download fa-beat"></i>DESGARCAR</a>
            </div>
        </div>
    </div>
    <MudCard>
        <MudCardActions Class="center">
            <img src="@libro.ImagenPortada" alt="@libro.Nombre" Elevation="25" Class="rounded-lg" width="60%" height="auto" />
        </MudCardActions>

        <MudCardActions Class="center">
            <img src="@libro.ImagenIntroduccion" alt="@libro.Nombre" Elevation="25" Class="rounded-lg" width="60%" height="auto" />
        </MudCardActions>
    </MudCard>
}

@code {
    [Parameter]
    public int id { get; set; }

    Libro libro = new Libro();

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
            libro = await LibroService.GetById(id);
    }
}